/* ----------- common style ----------- */

* {
    box-sizing: border-box;
    margin: 0%;
}
p {
    line-height: 25px;
}
body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

/* text transformation styles */

.upper {
    text-transform: uppercase;
}
.cap {
    text-transform: capitalize;
}

/* text color varients */
.color-w {
    color: white;
}
.color-blu {
    color: blue;
}
.color-bla {
    color: black;
}
.color-gray {
    color: gray;
}

/* background varient */
.bg-w {
    background: white;
}
.bg-bla {
    background: black;
}
.bg-blu{
    background: rgb(27, 173, 231);
}
.bg-gray {
    background-color: rgb(36, 34, 34);
}

/* font varients */
.font-s {
    font-size: 20px;
}
.font-b-0 {
    font-size: 30px;
}
.font-b-1 {
    font-size: 50px;
}
.font-b-2 {
    font-size: 70px;
}

/* padding varient */
.padding {
    padding: 30px 70px;
}
.padding-x-2 {
    padding: 0px 40px;
}
.padding-x-a {
    padding: 0px auto;
}
.padding-b {
    padding-bottom: 20px;
}
.padding-y {
    padding: 10px 0px;
}

/* opacity */
.oppa-t {
    opacity: 0.5;
}

/* margin varient */
.margin-y-0 {
    margin: 25px 0px;
}
.margin-y-1 {
    margin: 50px 0px;
}
.margin-y-2 {
    margin: 100px 0px;
}

/* text align */
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

/* width varients */
.width-100 {
    width: 100%;
}
.width-50 {
    width: 48.7%;
}

/* height */
.height-35{
    height: 35px;
}

/* for every section */
.section {
    width: 100%;
    height: 100%;
}

/* display */
.flex {
    display: flex;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-gap: 20px;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

/* nav */
.nav {
    display: block;
}
.list-item {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
}
.list-link, .link {
    text-decoration: none;
}

/* a tag button */
.button {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 26px;
    text-align: center;
    padding: 5px 0px;
}
.bg-fit {
    background-size: 100% 100%;
}

/*----------- home ------------ */
#home {
    background: url("./images/background\ 4.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
#home .button:hover {
    opacity: 1;
    color: white;
    background: black;
}

/* ---------- about ------------ */
#about {
    background: blueviolet;
}
#about .about-body {
    grid-template-columns: repeat(2, 1fr);
}
#about .link-content {
    grid-gap: 20px;
    text-align: left;
    padding-top: 20px;
}
#about .border-top-hover:hover {
    border-top: 2px solid black;
    background: white;
    margin-top: -5px;
}
#about .link-content>div {
    grid-template-columns: 4% 80%;
    padding-top: 20px;
}
#about .icon-1 {
    font-size: 20px;
    color: blue;
}
#about #feature-content {
    z-index: 1;
}
#about #aboutme-content {
    display: none;
}
#about #skill-content {
    display: none;
}
#about #about-link:hover~#aboutme-content {
    visibility: hidden;
}
#about #feature-link:hover~#feature-content {
    display: block;
    z-index: 2;
}
#about #aboutme-link:hover~#aboutme-content {
    display: block;
    z-index: 2;
    background: blueviolet;
}
#about #skill-link:hover~#skill-content {
    display: block;
    z-index: 2;
}
#about .link-content {
    position: absolute;
    background: blueviolet;
}
.about-body>div {
    height: 420px;
}
.about-img {
    width: 100%;
    height: 100%;
}

/*--------- portfolio ----------- */
#portfolio {
    background: whitesmoke;
    height: 125%;
}
#portfolio .button {
    border: transparent;
}
#portfolio .button:hover {
    opacity: .7;
    color: whitesmoke;
    background: coral;
}
.portfolio-body-content {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}
#portfolio .portfolio-img {
    width: 100%;
    height: 100%;
}
#portfolio .portfolio-body-content div {
    border-radius: 5px;
}
#portfolio .portfolio-body-content div:nth-child(1) {
    grid-area: 1/1/3/2;
    position: relative;
}
#portfolio .portfolio-body-content div:nth-child(2) {
    grid-area: 1/2/4/3;
    position: relative;
}
#portfolio .portfolio-body-content div:nth-child(3) {
    position: relative;
    grid-area: 1/3/3/4;
}
#portfolio .portfolio-body-content div:nth-child(4) {
    position: relative;
    grid-area: 3/1/6/2;
}
#portfolio .portfolio-body-content div:nth-child(5) {
    position: relative;
    grid-area: 4/2/6/3;
}
#portfolio .portfolio-body-content div:nth-child(6) {
    position: relative;
    grid-area: 3/3/6/4;
}

/* --------- services ---------- */
#service {
    background: blanchedalmond;
}

/* what i do */
#service .what-i-do {
    height: 107%;
}
#service .what-i-do-body {
    grid-template-columns: repeat(2, 1fr);
}
.what-i-do-body img {
    width: 100%;
    height: 100%;
}
#service .what-i-do-content {
    grid-template-columns: repeat(2, 1fr);
}
#service .what-i-do-content .icon {
    color: white;
    background: rgb(90, 199, 233);
    border-radius: 50%;
    width: 70px;
    height: 65px;
    padding-top: 5px;
    text-align: center;
}
.footer {
    height: 150px;
    padding: 50px 160px;
}
.footer-content{
position: relative;
top: -15px;
}

/* team */
#service .team {
    background: red;
    padding-top: 70px;
    height: 109%;
    background-image: url("./images/background\ 4.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
#service .team-container-1 {
    background: white;
}
#service .team .team-body {
    display: flex;
    height: 400px;
}
#service .team .team-body h1 {
    font-weight: 100;
}
#service .team .team-body h1 i {
    margin: 5px 10px;
}
#service .team .team-body .team-container {
    height: 300px;
    width: 260px;
    background: rebeccapurple;
    margin: 0px 20px;
}
#service .team .team-body .team-container img{
    width: 100%;
    height: 100%;
}
.name-plate {
    width: 200px;
    height: 100px;
    position: relative;
    top: -40px;
    left: 30px;
    border-radius: 20px;
    padding-top: 5px;
    background: white;
}
.team-footer >div{
position: relative;
top: -25px;
}

/* ----------- contact section------------- */
#contact {
    height: 100%;
}
#contact .contact-body {
    grid-template-columns: repeat(2, 1fr);
}
.contact-text {
    font-size: 18px;
}
.contact-text p {
    line-height: 35px;
}
.contact-footer {
    height: 130px;
    position: relative;
    top: 45px;
}